@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

#hero {
  background-image: url("../assets/Hero-bg.png");
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1335px;
  height: 480px;
}
#hero .box {
  width: 680px;
  margin: 0 auto;
}
.contact-btn{
  text-align: center;
}
.future-text {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
.btn {
  width: 120px;
  height: 40px;
  background-color: rgb(13, 19, 33);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 12px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.devolopment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center ;
}
.text-1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center ;
}
.text-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center ;

}
.inspiration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-container {
  display: flex;
  justify-content: center;
  /* Rectangle 1 */
  position: static;
  width: 1000px;
  height: 550px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 10px 0px;
  margin-left: 180px;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.images {
  display: flex;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.support-container-center {
  width: 90%;
  height: 380px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/handshake.jpg");
}
.support-container p {
  margin-bottom: 25px;
}
#submit-btn {
  width: 90px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
}
